{
  "extends": ["@jokeyrhyme/es5"],
  "env": {
    "amd": true,
    "browser": false,
    "mocha": false,
    "node": true
  },
  "rules": {
    /* Possible Errors */
    "valid-jsdoc": 2,
    /* Best Practices */
    "no-invalid-this": 0, /* TODO: 2 */
    "no-param-reassign": 0, /* TODO: 2 */
    /* Node.JS */
    "no-sync": 2
  }
}
